.experience .current-experience{
    background: white;
    border: 1px solid var(--secondaryColor2);
    box-shadow: -5px 5px black;
    border-radius: var(--borderRadius);
}

.experience .current-experience .company-name{
    font-size: 1.7rem;
    font-weight: 700;
}

.experience .education-details{
    background: linear-gradient(120deg, var(--secondaryColor3), rgb(52, 51, 51));
    color: white;
    border-radius: var(--borderRadius);
    box-shadow: -5px 5px black;
    border: 1px solid var(--secondaryColor3);
}

.experience .experience-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5%;
    column-gap: 2%;
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(50px, auto);
}

.experience .experience-container .current-experience{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.experience .experience-container .experience-info{
    grid-column-start: 4;
    grid-column-end: 5;
    height: 100%;
}

.experience .experience-container .info-1{
    grid-row-start: 1;
    grid-row-end: 2;
}
.experience .experience-container .info-2{
    grid-row-start: 2;
    grid-row-end: 3;
}

.experience .education-details .degree{
    font-size: 1.6rem;
    font-weight: 500;
}

.experience .experience-info{
    border: 1px solid var(--secondaryColor2);
    border-radius: var(--borderRadius);
    background: white;    
    box-shadow: -5px 5px black;
    height: 47%;
}

.experience .experience-info .number{
    font-size: 2rem;
    font-weight: 700;
}


/* <slider animation>  */
@keyframes slide{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.experience .logos{
    overflow: hidden;
    background-color: white;
    white-space: nowrap; /* bring all logos in the same line */
    box-shadow: -5px 5px black;
    border: 1px solid var(--secondaryColor2);
    position: relative;
    width: 75%;
    border-radius: var(--borderRadius);
}

.experience .logos:before, 
.experience .logos:after {
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    content: "";
    z-index: 2;
}

.experience .logos:before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.experience .logos:after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.experience .logos-slide{
    display: inline-block;
    animation: 25s slide infinite linear;
}

.experience .logos:hover .logos-slide{
    animation-play-state: paused;
}
.experience .logos-slide img{
    height: 50px;
    margin: 0 40px;
}
/* </slider animation>  */

@media only screen and (max-width: 768px){
    .experience .logos{
        width: 100%;
    }
    .experience .logos:before, .experience .logos:after{
        background: transparent;
    }
    .experience .logos-slide img{
        height: 30px;
        margin: 0 20px;
    }
}

@media only screen and (max-width: 600px){
    .experience .experience-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 2%;
        column-gap: 4%;
        grid-auto-rows: minmax(50px, auto);
        grid-auto-columns: minmax(50px, auto);
    }

    .experience .experience-container .current-experience{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .experience .experience-container .experience-info{
        grid-row-start: 3;
        grid-row-end: 4;
        height: 70%;
    }
    
    .experience .experience-container .info-1{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .experience .experience-container .info-2{
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

.experience-slide {
    flex: 0 0 100%;
}