.scroll-down .scroll-down-text{
    text-align: center;
}

.scroll-down .scroller-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-down .circle{
    position: relative;
    display: inline-block;
}

.scroll-down .scroll-arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.scroll-down{
    margin-bottom: 0;
}

@media only screen and (max-width: 768px){
    .scroll-down .scroller-container{
        margin-bottom: 20%;
    } 
}

@media only screen and (max-width: 500px){
    .scroll-down .scroller-container{
        margin-bottom: 30%;
    } 
}